:root {
  --campaign-green: #1CAA05;
  --purple-lt: #A620F7;
  --purple-dk: #700EAB;
  --army-gn:   #6F9568;
  --neutral-green:   #8BCE84;

  --red: #F73420;
  --dark-red: #AB1C0E;
}

*{
      font-family: 'Raleway',
      sans-serif;

}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.2rem;
}
html,
body{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
h1{

  font-size: 2rem;
  font-weight: 700;
}
h3{
  font-size: 1.6rem;
}
section{
  padding: 2rem 1rem;
  margin: 0;
  width: 80%;
  max-width: 1200px;

  margin: auto;
}
li{
  font-size: 1.4rem;
  line-height: 3rem;
}
p{
  font-size: 1.4rem;
  line-height: 3rem;
}

a{
  color: var(--army-gn);
}


a:hover{
  transform: scale(1.2);
  border-bottom: var(--campaign-green) solid 2px;
  text-decoration: none;
}

a:visited{
  color: var(--neutral-green);
}
