:root {
  --campaign-green: #1CAA05;
  --purple-lt: #A620F7;
  --purple-dk: #700EAB;
  --red: #F73420;
  --dark-red: #AB1C0E;
}

*{
      font-family: 'Raleway',
      sans-serif;
}
section{
  padding: 2rem 1rem;
  margin: 0;
}
p{
  font-size: 1.2rem;
  line-height: 3rem;
}

a{
  color: var(--purple-dk);
}

a:hover{
  transform: scale(1.2);
  border-bottom: var(--campaign-green) solid 2px;
  text-decoration: none;
}

a:visited{
  color: var(--purple-lt);
}
